
#wrapper
{
	border: 1px solid gray;
	box-shadow:3px 3px 5px 6px #ccc;
}

header ul 
{
	background:#003C79;
	margin-bottom:0px;
	position: reltaive;
}


header ul li
{
	display: inline-block;
	color: white;
	font: 24px impact;
	
}

header ul li a:link
{
	display: inline-block;
	color: white;
	font: 24px impact;
	padding: 20px;
	text-decoration: none;
}

header ul li a:visited
{
	display: inline-block;
	color: white;
	font: 24px impact;
	padding: 20px;
	text-decoration: none;
}

header ul li a:hover
{
	display: inline-block;
	color: yellow;
	font: 24px impact;
	padding: 20px;
	text-decoration: none;
}

header ul li:hover ul
{
	display: block;
	
}

header ul ul
{
	display: none;
	position: absolute;
	background: #003C79;
	border: 5px solid #003C79;
	border-top: 0;
	margin-left: -5px;
	margin-top: 0.5px;
	min-width: 200px;
	padding: 0px;
	z-index: 1;
}

header ul ul a:link
{
	font-size: 20px;
}

header ul ul a:visited
{
	font-size: 20px;
}


header ul ul li
{
	
	display: block;
	
}

header ul ul li a,visited
{
	color: #ccc;
	
}

header ul ul li a:hover
{
	color: red;
	
}

section
{
	padding: 10px;
}

#accordion
{
	z-index: 0;
}

#accordion h2
{
	font: 30px Impact;
}

.size
{
	font: 20px Tahoma;
	color: red;
}

#quicklink
{
	border: 1px solid black;
}
         

footer
{
	background:#003C79;
	color: white;
	padding: 24px;
}

footer ul li
{
	display: inline-block;
	padding: 20px;
	border-left: 2px solid white;
	
}

footer ul li a:link
{
	display: inline-block;
	color: white;
	font: 24px impact;
	
	text-decoration: none;
}

footer ul li a:visited
{
	display: inline-block;
	color: white;
	font: 24px impact;
	
	text-decoration: none;
}

footer ul li a:hover
{
	display: inline-block;
	color: yellow;
	font: 24px impact;
	
	text-decoration: none;
}